.postSiren{
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  height: 12vh;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 9999;
  background-color: #FF2E63;
}
.smalltitle {
  display: flex;
  height: 12vh;
  width: 15vw;
  margin: auto;
  color: #252A34;
}
.smalltitle:hover{
  color: #f2f2f2;
}
.smallsiren {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.4vw;
  position: relative;
  width: 8vw;
  height: 6vh;
  top: -3vh;
}
.smallthe {
  transform: rotate(-90deg);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  width: 5vh;
  height: 2vw;
  position: relative;
  bottom: -1vh;
}

.reacthead {
  display: flex;
  margin-top: 15vh;
}
.fixed {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 50vh;
  z-index: -9999;
}

.notfixed {
  margin-left: 20vw;
  width: 55vw;
}

.fiveways {
  display: inline-block;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  letter-spacing: 0px;
  color: #252A34;
  width: 48vw;

}
.reactimage {
  background-repeat: no-repeat;
  width: 48vw;
  background-position: center;
  height: 60vh;
}
.reactpara {
  font-size: 16px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.9;
  width: 47vw;
  line-height: 1.5;
}

.buttonsdiv {
  margin-top: 35px;
  display: flex;
}
.threebuttons {
  margin-right: 10px;
  font: normal normal normal 15px/30px Open Sans;
  text-align: center;
  letter-spacing: 0px;
  color: #a2a2a2;
  opacity: 1;
  padding: 0px 8px;
  box-shadow: none;
  border: none;
  height: 33px;
  background-color: #f2f2f2;
  opacity: 1;
}
.share {
  padding: 15px 0px;
  display: flex;
}
.clapimage {
  width: 40px;
  height: 40px;
  background: transparent url(../Assets/rythm.svg) 0% 0% no-repeat padding-box;
  margin-right: 10px;
}
.shareimage {
  width: 40px;
  height: 40px;
  background: transparent url(../Assets/share.svg) 0% 0% no-repeat padding-box;
  margin-right: 10px;
}
.clapcount {
  font: normal normal normal 16px/25px Open Sans;
  color: #939393;
  opacity: 1;
  width: 200px;
  height: 30px;
  padding-top: 5px;
}
.authordiv,.authordiv1{
  display: flex;
}
.image {
  width: 110px;
  height: 110px;
  background-image: url(../Assets/author.png);
  background-repeat: no-repeat;
  background-position: center;
}
.details {
  width: 200px;
  height: 110px;
  padding-top: 25px;
  padding-left: 20px;
}
.authorname {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.datedetails {
  font-family: "Open Sans", sans-serif;
  color: #a2a2a2;
  font-size: 14px;
}
.socialicon {
  position: relative;
  top: -14vh;
  right: -40.5vw;
}

.reactbottom {
  width: 100%;
  height: 100vh;
  background: #fafafa 0% 0% no-repeat padding-box;
}
.reactmore {
  font: normal normal normal 22px/25px Open Sans;
  letter-spacing: 0px;
  color: #FF2E63;
  padding-top: 4vh;
  padding-bottom: 2vh;
}
.icons {
  font-size: 24px;
  color: #010002;
  opacity: 0.7;
  margin-left: 5px;
}
.tag {
  font: normal normal normal 16px/25px Open Sans;
  letter-spacing: 0px;
  color: #a2a2a2;
  opacity: 1;
}
.HrForPost{
  height: 3px; 
  background-color: #252A34;
  box-shadow: none;
  margin:20px 0px;
  border: none;
  width: 86.6%;
 
}
.extraauthorname{
  display: none;
}
@media(max-width:600px){
  .fixed{
    display: none;
  }
  .notfixed {
    margin-left: 30px;
    margin-right: 30px;
    width: 90vw;
  }
  
  .fiveways {
    font-size: 24px;
    width: 98%;
    margin-bottom: 60px;
  
  }
  .reactimage {
    background-repeat: no-repeat;
    width: 355px;
    background-position: center;
    height: 250px;
  }
  .reactpara {
    font-size: 15px;
    width: 100%;
    line-height: 1.3;
  }
  
  .buttonsdiv {
    display: flex;
    justify-content: space-evenly;
  }
  .socialicon {
    position: relative;
    top: -175px;
    right: 10px;
  }
 .reactbottom {
  width: 100%;
  height: 100vh;
  background: #fafafa 0% 0% no-repeat padding-box;
}
.reactmore {
  font-size: 30px ;
  margin:  30px;
  padding-top: 0vh;
  padding-bottom:0vh;
}
.icons {
  font-size: 28px;
  
  margin-left: 10px;
}
.tag {
  font: normal normal normal 16px/25px Open Sans;
  letter-spacing: 0px;
  color: #a2a2a2;
  opacity: 1;
}
.HrForPost{
display: none;
 
}
.PostSide{
  display: inherit;
  width: 100%;
  height: 10px;
  margin: 0px 30px;

}
.PostSidediv{
  font-size: 14px; 
  margin-top: 20px;
  display: flex;
  width: 90vw;
}

.PostSideimage{
  width: 100px;
  height: 90px;
  position: absolute;
  right: 30px;
  border-radius: 0px;
}
.PostSidehead{
width: 60%;
height: 45px;
font-size: 18px;
margin-bottom: 20px;
margin-right: 30px;
text-align: left;
}
.authordiv1{
  display: none;
}
.extraauthorname{
  display: inherit;
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  right: -5px;
  top: -15px;
}
.postSiren{
  height: 6vh;
  position: fixed;
  top:0px;
  left: 0px;
  margin-bottom: none;
}
.smalltitle {
  display: flex;
  height: 6vh;
  width: 15vw;
  margin: auto;
  color: #252A34;
}

.smallsiren {
position: relative;
  font-size: 4vh;
  width: 8vw;
  height: 4vh;
  top: -2.4vh;
  left: -70px;
}
.smallthe {
 
  font-size: 1.7vh;
  width: 8vw;
  height: 3vh;
  position: relative;
  bottom: 0.4vh;
  left: -65px;
}

}