.postSiren{
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  height: 12vh;
  position: fixed;
  top:0px;
  left: 0px;
  z-index: 9999;
  background-color: #FF2E63;
 


}
.smalltitle {
  display: flex;
  height: 12vh;
  /* position: relative;
  left: -2vw; */
  width: 15vw;
  margin: auto;
  color: #252A34;

}
.smalltitle:hover{
  color: #f2f2f2;
}
.smallsiren {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.2vw;
  position: relative;
  width: 8vw;
  height: 6vh;
  top: -3vh;
}
.smallthe {
  transform: rotate(-90deg);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  width: 5vh;
  height: 2vw;
  position: relative;
}
/* .button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #03a87c;
  background-color: #ffffff;
  border: 1px solid #03a87c;
  margin-left: 65vw;
  margin-top: 6vh;
  position: relative;
  top: -10px;
} */
.reacthead {
  display: flex;
  margin-top: 15vh;
}
.fixed {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 50vh;
  z-index: -9999;
}

.notfixed {
  margin-left: 20vw;
  width: 55vw;
}
.five {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 6px;
  padding-right: 8px;

  font-size: 36px;
}
.fiveways {
  display: inline-block;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;

  font-size: 26px;
  letter-spacing: 0px;
  color: #000000;
}
.reactimage {
  background-repeat: no-repeat;
  width: 48vw;
  background-position: center;
  height: 60vh;
  /* background-image: url(./Assets/react.png); */
}
.reactpara {
  font-size: 16px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;

  width: 47vw;
}
.reactcode {
  width: 48vw;
  height: 50vw;
  /* background-image: url(./Assets/code.png); */
  background-repeat: no-repeat;
  background-position: center;
}
.buttonsdiv {
  margin-top: 35px;
  display: flex;
}
.threebuttons {
  margin-right: 10px;
  font: normal normal normal 15px/30px Open Sans;
  text-align: center;
  letter-spacing: 0px;
  color: #a2a2a2;
  opacity: 1;
  padding: 0px 8px;
  box-shadow: none;
  border: none;

  height: 33px;
  background-color: #f2f2f2;
  opacity: 1;
}
.share {
  padding: 15px 0px;
  display: flex;
}
.clapimage {
  width: 40px;
  height: 40px;
  background: transparent url(../Assets/rythm.svg) 0% 0% no-repeat padding-box;
  margin-right: 10px;
}
.shareimage {
  width: 40px;
  height: 40px;
  background: transparent url(../Assets/share.svg) 0% 0% no-repeat padding-box;
  margin-right: 10px;
}
.clapcount {
  font: normal normal normal 16px/25px Open Sans;
  color: #939393;
  opacity: 1;
  width: 200px;
  height: 30px;
  padding-top: 5px;
}
.authordiv {
  display: flex;
}
.image {
  width: 110px;
  height: 110px;
  background-image: url(../Assets/author.png);
  background-repeat: no-repeat;
  background-position: center;
}
.details {
  width: 200px;
  height: 110px;
  padding-top: 25px;
  padding-left: 20px;
}
.authorname {
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.datedetails {
  font-family: "Open Sans", sans-serif;
  color: #a2a2a2;
  font-size: 14px;
}
.socialicon {
  position: relative;
  top: -14vh;
  right: -40.5vw;
}

.reactbottom {
  width: 100%;
  height: 100vh;
  background: #fafafa 0% 0% no-repeat padding-box;
}
.reactmore {
  font: normal normal normal 22px/25px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.8;
  padding-top: 8vh;
  padding-bottom: 2vh;
}
.icons {
  font-size: 24px;
  color: #010002;
  opacity: 0.7;
  margin-left: 5px;
}
.tag {
  font: normal normal normal 16px/25px Open Sans;
  letter-spacing: 0px;
  color: #a2a2a2;
  opacity: 1;
}
